<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_SecurityContract" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55527/SecurityService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SecurityContract"
                contract="SecurityReference.SecurityContract" name="BasicHttpBinding_SecurityContract" />
        </client>
    </system.serviceModel>
</configuration>