<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_PointSaleContract" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:45167/PointSaleService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PointSaleContract"
                contract="PointSaleReference.PointSaleContract" name="BasicHttpBinding_PointSaleContract" />
        </client>
    </system.serviceModel>
</configuration>